{% extends '::base.html.twig'%}
{% block body %}
<br><br>
<section class="container">
	<nav class=" navbar-expand-lg ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BOUTIQUE</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    	<label for="">SEARCH AGAIN </label>
      <input class="" type="text" placeholder="" aria-label="Search">
    </form>
  </div>
</nav>
<br>
</section>
	<div class="row justify-content-center">
		<button class="btn btn-outline-danger btn-lg" style="margin: 20px 0px">CATEGORY</button>
	</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-3" id="" style="padding: 150px 50px ;background-color: red">
			<div class="row justify-content-center">	
				<button class="btn btn-raised btn-fucks">CHARMS</button>
			</div>
		</div>
		<div class="col-12 col-md-3" id="" style="padding: 150px 50px ;background-color: blue">
			<div class="row justify-content-center">	
				<button class="btn btn-raised btn-fucks">EARRINGS</button>
			</div>
		</div>
		<div class="col-12 col-md-3" id="" style="padding: 150px 50px ;background-color: yellow">
			<div class="row justify-content-center">	
				<button class="btn btn-raised btn-fucks">BRACELETS</button>
			</div>
		</div>
		<div class="col-12 col-md-3" id="" style="padding: 150px 50px ;background-color: orange">
			<div class="row justify-content-center">	
				<button class="btn btn-raised btn-fucks">NECKLATES</button>
			</div>
		</div>
	</div>
</div>
<br><br>	
<div class="container-fluid">	
	<div class="row">
		<div class="col-12 hidden-lg-up">
			<form action="" id="form" class="card">
				<p>Advance Search</p>
				<select name="" id="" class="form-control">
					<option value="">Category</option>
				</select><br>
				<select name="" id="" class="form-control">
					<option value="">Sub Category</option>
				</select><br>
				<label for=""><input type="radio" name="filter"> Under $150</label><br>
				<label for=""><input type="radio" name="filter"> $150 to $250</label><br>
				<label for=""><input type="radio" name="filter"> Over 250$</label><br>
				<label for=""><input type="radio" name="filter"> No Price Limit</label><br>
				<label for="">Keywords (Optional)<input type="text" class="form-control"></label><br>
				<button class="btn btn-block btn-pink">Submit</button>
			</form>
		</div>
		<div class="col-12 col-md-2">	
			<button class="btn btn-raised btn-block btn-active">Earrings</button>
			<div class="dropdown show">
			  <a class="btn btn-raised btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Category
			  </a>

			  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <a class="dropdown-item" href="#">Sub Category</a>
			    <a class="dropdown-item" href="#">Sub Category</a>
			    <a class="dropdown-item" href="#">Sub Category</a>
			  </div>
			</div>
			<button class="btn btn-raised btn-block">Pendants</button>
			<button class="btn btn-raised btn-block">Bracelet</button>
			<button class="btn btn-raised btn-block">Necklaces</button>
			<button class="btn btn-raised btn-block">Ladies</button>
			<button class="btn btn-raised btn-block">Silver</button>
		</div>
		<div class="col-12 col-md-7">
			<div class="row">	
				<div class="col-md-3" style="margin-bottom: 20px" >
					<a href="{{path('shop_single')}}">
						<div class="card">
					  	<img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
					  	<div class="card-body">
					   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
					   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
					 	 </div>
						</div>
					</a>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				  	<div class="card-body">
				   	 <h6 class="card-text text-center">18 PINK GOLD</h6>
				   	 <h6 class="price text-center"><span class="sale" style="">319</span> 239,25</h6>	
				 	 </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 hidden-md-down">
			<form action="" id="form" class="card ">
				<p>Advance Search</p>
				<select name="" id="" class="form-control">
					<option value="">Category</option>
				</select><br>
				<select name="" id="" class="form-control">
					<option value="">Sub Category</option>
				</select><br>
				<label for=""><input type="radio" name="filter"> Under $150</label><br>
				<label for=""><input type="radio" name="filter"> $150 to $250</label><br>
				<label for=""><input type="radio" name="filter"> Over 250$</label><br>
				<label for=""><input type="radio" name="filter"> No Price Limit</label><br>
				<label for="">Keywords (Optional)<input type="text" class="form-control"></label><br>
				<button class="btn btn-block btn-pink">Submit</button>
			</form>
		</div>
	</div>
	<div class="row">	
		<div class="col-12">
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link" href="#">NEXT</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">1</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">TO</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">4</a>
		  </li>
		</ul>
		</div>
	</div>
</div>
<p style="background-color: #fc6600; padding: 2px"></p>
	
{% endblock %}
