{% extends '::base.html.twig' %}
{% block body %}
<br>
<br>
<br>
<section class="container">
	<div class="row">
		<div class="col-12">
			<p class="text-great">
				<a href="{{path("shop_category")}}">Categories</a> /
				<a href="">Earrings</a> /
				<a href="">Post Earring</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-2 col-md-1">
			<div class="row">
				<div class="card col-12" style="width: 20rem; margin-bottom:10px; padding:5px;">
				  <a href="#" ><img class="card-img-top photo_muestra" src="{{asset('img/collar_1.png')}}" alt="Card image cap"></a>
				</div>
				<div class="card col-12" style="width: 20rem; margin-bottom:10px; padding:5px;">
				  <a href="#" ><img class="card-img-top photo_muestra" src="{{asset('img/collar_2.png')}}" alt="Card image cap"></a>
				</div>
				<div class="card col-12" style="width: 20rem; margin-bottom:10px; padding:5px;">
				  <a href="#" ><img class="card-img-top photo_muestra" src="{{asset('img/collar_2.png')}}" alt="Card image cap"></a>
				</div>
				<div class="card col-12" style="width: 20rem; margin-bottom:10px; padding:5px;">
				  <a href="#" ><img class="card-img-top photo_muestra" src="{{asset('img/collar_2.png')}}" alt="Card image cap"></a>
				</div>


			</div>
		</div>
		<div class="col-10 col-md-6">
			<div class="card col-12" style=" margin-bottom:10px; padding:5px;">
				<img class="img-fluid rounded mx-auto d-block card-img-top" id="photo_principal" src="{{asset('img/collar_2.png')}}" alt="image-example">
			</div>
		</div>
		<div class="col-12 col-md-5">
			<div class="row">
				<div class="col-12">
					<h4>Title product</h4>
					<p>Lorem ipsum dolor sit amet. consectetur adipisicing elit. Corporis doloribus ipsa sunt quae. laborum laboriosam saepe autem. iusto aspernatur. nobis blanditiis quibusdam necessitatibus quis. Assumenda molestiae illum provident reiciendis. reprehenderit.</p>
					<small><span class="sale" style="">Regular Price $319</span></small>
					<p>PRICE: $ 239.25</p>
					<a href="{{path('shop_check')}}"><button type="button" class="btn btn-raised btn-pink">ADD TO CART</button></a>
					<div class="row">
						<div class="col-4 col-md-2"><button class="btn btn-raised like" style="background-color:#4c86fc; color:white;"><svg style="fill:#fff !important;" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 48 48"><path d="M2 42h8V18H2v24zm44-22c0-2.21-1.79-4-4-4H29.37l1.91-9.14c.04-.2.07-.41.07-.63 0-.83-.34-1.58-.88-2.12L28.34 2 15.17 15.17C14.45 15.9 14 16.9 14 18v20c0 2.21 1.79 4 4 4h18c1.66 0 3.08-1.01 3.68-2.44l6.03-14.1c.18-.46.29-.95.29-1.46v-3.83l-.02-.02L46 20z"/></svg> like</button></div>
						<div class="col-4 col-md-2"><a href="#"><img src="{{asset('img/pin-it.png')}}" class="img-fluid" width="80" height="40" alt=""></a></div>
					</div>
					<div id="accordion">
					  <h3>DETAILS </h3>
					  <div>
					    <p>
					    Mauris mauris ante. blandit et. ultrices a. suscipit eget. quam. Integer
					    ut neque. Vivamus nisi metus. molestie vel. gravida in. condimentum sit
					    amet. nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
					    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
					    </p>
					  </div>
					  <h3>PAYMENT METHOD</h3>
					  <div>
					    <p>
					    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
					    purus. Vivamus hendrerit. dolor at aliquet laoreet. mauris turpis porttitor
					    velit. faucibus interdum tellus libero ac justo. Vivamus non quam. In
					    suscipit faucibus urna.
					    </p>
					  </div>
					  <h3>SHIPPING AND RETURNS</h3>
					  <div>
					    <p>
					    Nam enim risus. molestie et. porta ac. aliquam ac. risus. Quisque lobortis.
					    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
					    ac tellus pellentesque semper. Sed ac felis. Sed commodo. magna quis
					    lacinia ornare. quam ante aliquam nisi. eu iaculis leo purus venenatis dui.
					    </p>
					    <ul>
					      <li>List item one</li>
					      <li>List item two</li>
					      <li>List item three</li>
					    </ul>
					  </div>
					  <h3>CLEANING</h3>
					  <div>
					    <p>
					    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
					    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
					    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
					    mauris vel est.
					    </p>
					    <p>
					    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
					    Class aptent taciti sociosqu ad litora torquent per conubia nostra. per
					    inceptos himenaeos.
					    </p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
			<div class="row">
				<div class="col-12">
					<br>
					<br>
					<br>
					<form action="#">
						<label for=""><h3>Reviews</h3></label>
						<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
						<button class="btn btn-raised btn-pink">Send</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3"><img src="{{asset('img/avatar.png')}}" class="img-fluid" alt=""></div>
				<div class="col-12 col-md-9">Lorem ipsum dolor sit amet. consectetur adipisicing elit. Suscipit provident repellendus dolore eaque sint atque quod ipsum voluptatum ullam incidunt quidem veritatis voluptas at dolorem error molestias. veniam. doloremque. ipsam.</div>
				<div class="col-12">Date 2017/11/05</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3"><img src="{{asset('img/avatar.png')}}" class="img-fluid" alt=""></div>
				<div class="col-12 col-md-9">Lorem ipsum dolor sit amet. consectetur adipisicing elit. Suscipit provident repellendus dolore eaque sint atque quod ipsum voluptatum ullam incidunt quidem veritatis voluptas at dolorem error molestias. veniam. doloremque. ipsam.</div>
				<div class="col-12">Date 2017/11/05</div>
			</div>
			<div class="row">
				<div class="col-4"><a href="#" class="text-great">See more</a></div>
			</div>
	
</section>
<p style="background-color: #ff6ea2; padding: 10px 0px;"></p>
<section class="container">
	<div class="row">
		<div class="col-12">
			<h3 class="text-center">YOU MAY ALSO LIKE</h3>
		</div>
	</div>
	<div class="row">
			<div class="col-md-3" style="margin-bottom: 20px" >
				<p class="text-center">Title products</p>
			<div class="card">
			  <img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-text text-center">18 PINK GOLD</h6>
			    <h6 class="price text-center"><p><span class="sale" style="">Regular Price $319</span></p> <span>Price</span> $239.25</h6>	
			  </div>
			</div>
		</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<p class="text-center">Title products</p>
			<div class="card">
			  <img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-text text-center">18 PINK GOLD</h6>
			    <h6 class="price text-center"><p><span class="sale" style="">Regular Price $319</span></p> <span>Price</span> $239.25</h6>	
			  </div>
			</div>
		</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<p class="text-center">Title products</p>
			<div class="card">
			  <img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-text text-center">18 PINK GOLD</h6>
			    <h6 class="price text-center"><p><span class="sale" style="">Regular Price $319</span></p> <span>Price</span> $239.25</h6>	
			  </div>
			</div>
		</div>
				<div class="col-md-3" style="margin-bottom: 20px" >
					<p class="text-center">Title products</p>
			<div class="card">
			  <img class="card-img-top" src="{{asset('img/collar_2.png')}}" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-text text-center">18 PINK GOLD</h6>
			    <h6 class="price text-center"><p><span class="sale" style="">Regular Price $319</span></p> <span>Price</span> $239.25</h6>	
			  </div>
			</div>
		</div>
	</div>
</section>
	<p style="background-color: #ff6ea2; padding: 2px"></p>
<section class="container">
	<div class="row justify-content-center">
		<button class="btn btn-outline-danger btn-lg" style="margin: 20px 0px">RECENTLY VIEW ITEMS</button>
	</div>
	<div class="row text-center">
		<div class="col-md-4"><img src="{{asset('img/collar_2.png')}}" class="img-fluid" alt="image-example" ></div>
		<div class="col-md-4"><img src="{{asset('img/collar_2.png')}}" class="img-fluid" alt="image-example" ></div>
		<div class="col-md-4"><img src="{{asset('img/collar_2.png')}}" class="img-fluid" alt="image-example" ></div>
	</div>
	<br><br>
</section>
{% endblock %}